* {
  scroll-behavior: smooth;
}
body {
  background-color: #a8b6bf;
}
.navbar {
  background-color: #5d6973;
}
#cardd {
  background-color: #2f3840;
  color: whitesmoke;
  font-size: larger;
}

#banner {
  position: relative;
}
#experience h5 {
  text-align: center;
}
.jumbotron {
  background-color: #8d9ca6;
}
#header .container li a:hover {
  margin-top: 3px;
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
}

#aboutMe .container .iconos {
  display: flex;
  justify-content: center;
}

#aboutMe .container .iconos img {
  margin-top: 10px;
  margin-right: 10px;
  object-fit: cover;
  height: 50px;
}

#aboutMe .container .iconos img:hover {
  transform: scale(1.1);
}

#academic .project-container {
  border: rgba(0, 0, 0, 0.1) 1px solid;
  margin-top: 20px;
}

#academic .row .card-image {
  display: flex;
  justify-content: center;
}

#academic .row .card img {
  max-height: 150px;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
}

#academic .row .card a {
  color: rgb(117, 115, 115);
}

#academic .row .card a:hover {
  color: black;
  text-decoration: none;
}

#academic .row .card {
  height: 100%;
  margin-top: 15px;
}

#academic {
  background-color: rgba(119, 119, 119, 0.05);
  height: 100%;
}

.footer {
  background-color: #2f3840;
  color: white;
  padding: 20px;
}
